<div class="wrapper">
<form [formGroup]="formGroup" class="create-task-form">
  <h2 class="create-task-title">{{'boardPage.createTask' | translate}}</h2>
  <div class="create-task-text">
  <mat-form-field appearance="outline">
    <mat-label>{{'boardPage.taskTitle' | translate}}</mat-label>
      <input
        matInput
        placeholder="{{'boardPage.enterTaskTitlePlaceholder' | translate}}"
        type="text"
        formControlName="title"
        class="form-control"/>
        <mat-error *ngIf="formGroup.get('title')?.errors?.['required']">
          {{'boardPage.enterTaskTitlePlaceholder' | translate}}
        </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>{{'boardPage.taskDescription' | translate}}</mat-label>
      <input
        matInput
        placeholder="{{'boardPage.enterTaskDescriptionPlaceholder' | translate}}"
        formControlName="description"
        type="text"
        class="form-control"/>
        <mat-error *ngIf="formGroup.get('description')?.errors?.['required']">
          {{'boardPage.enterTaskDescriptionPlaceholder' | translate}}
        </mat-error>
  </mat-form-field>
</div>
  <mat-dialog-actions>
    <button mat-raised-button [disabled]="formGroup.invalid" color="primary" [mat-dialog-close]="true" type="button" (click)="createTask()" >{{'boardPage.createTask' | translate}}</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="true" type="button" (click)="closeModal()" >{{'boardPage.cancel' | translate}}</button>
  </mat-dialog-actions>
</form>
</div>
