
        <mat-dialog-content class="mat-typography">
          <form [formGroup]="userUpdateForm">
            <h2>{{'user.title' | translate}}</h2>
            <mat-form-field appearance="standard">
              <mat-label for="inputName1" >{{'user.name' | translate}}</mat-label>
              <div [formGroup]="userUpdateForm">
                <input matInput formControlName="name" type="text" class="form-control" id="inputName1" [formControl]="controlName" >
              </div>
              <mat-error *ngIf="controlName?.errors?.['required']">{{'errors.enterName' | translate}}</mat-error>
              <mat-error *ngIf="controlName?.errors?.['minlength']">{{'errors.longerThanThree' | translate}}</mat-error>
              <mat-error *ngIf="controlName?.errors?.['maxlength']">{{'errors.noLongerThanTwentyName' | translate}}</mat-error>
              <mat-error *ngIf="controlName?.errors?.['pattern']">{{'errors.onlySmallOrNumbers' | translate}}</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="standard">
              <mat-label for="inputText2">{{'user.login' | translate}}</mat-label>
              <div [formGroup]="userUpdateForm">
                <input matInput type="text" formControlName="login" class="form-control" id="inputText2" [formControl]="controlLogin">
              </div>
              <mat-error *ngIf="controlLogin?.errors?.['required']">{{'errors.enterLoginEmail' | translate}}</mat-error>
              <mat-error *ngIf="controlLogin?.errors?.['email']">{{'errors.invalidLoginEmail' | translate}}</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="standard">
              <mat-label for="inputPassword3">{{'user.password' | translate}}</mat-label>
              <div [formGroup]="userUpdateForm">
                <input matInput formControlName="password" type="password" class="form-control" id="inputPassword3" [formControl]="controlPassword" autocomplete="new-password">
              </div>
              <mat-error *ngIf="controlPassword?.errors?.['required']">{{'errors.enterPassword' | translate}}</mat-error>
              <mat-error *ngIf="controlPassword?.errors?.['minlength']">{{'errors.longerThanEight' | translate}}</mat-error>
              <mat-error *ngIf="controlPassword?.errors?.['minlength']">{{'errors.noLongerThanTwentyPassword' | translate}}</mat-error>
              <mat-error *ngIf="controlPassword?.errors?.['pattern']">{{'errors.usedUpperLowerNumberSpecial' | translate}}</mat-error>
            </mat-form-field>
          </form>
        </mat-dialog-content>
        <mat-dialog-actions align="end">
          <button mat-raised-button color="warn" [mat-dialog-close]="true" (click)="deleteUser()">{{'user.delete' | translate}}</button>
          <button mat-raised-button color="basic" mat-dialog-close cdkFocusInitial>{{'user.cancel' | translate}}</button>
          <button mat-raised-button color="primary" [mat-dialog-close]="true"  [disabled]="userUpdateForm.invalid" (click)="changeUserData()">{{'user.save' | translate}}</button>
        </mat-dialog-actions>
