<div class="container">
  <form [formGroup]="authForm">
    <h2>Log In</h2>
    <mat-form-field appearance="standard">
      <mat-label for="inputText2" class="col-sm-12 col-form-label">Login</mat-label>
      <div class="col-sm-12" [formGroup]="authForm">
        <input matInput type="text" formControlName="login" class="form-control" id="inputText2" [formControl]="controlLogin" autocomplete="new-password">
      </div>
      <p class="fs-6 fw-light" *ngIf="controlLogin?.errors?.['required']">*please enter a login email</p>
      <p class="fs-6 fw-light" *ngIf="controlLogin?.errors?.['email']">*the login email is invalid</p>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label for="inputPassword3" class="col-sm-12 col-form-label">Password</mat-label>
      <div class="col-sm-12" [formGroup]="authForm">
        <input matInput formControlName="password" type="password" class="form-control" id="inputPassword3" [formControl]="controlPassword" autocomplete="new-password">
      </div>
      <p class="fs-6 fw-light" *ngIf="controlPassword?.errors?.['required']">*please enter a password</p>
      <p class="fs-6 fw-light" *ngIf="controlPassword?.errors?.['minlength']">*your password isn't strong enough: should be longer than 8</p>
      <p class="fs-6 fw-light" *ngIf="controlPassword?.errors?.['pattern']">*your password isn't strong enough: should be used uppercase and lowercase letters, numbers, special character</p>
    </mat-form-field>
      <button mat-raised-button color="blue" [disabled]="authForm.invalid" (click)="onLogInButton()" type="submit" class="btn btn-primary">Log In</button>
    <tr></tr>
    <a routerLink="/login/registration">Don't have an account yet? Sing Up!</a>
  </form>
</div>
