<header class="header">
  <div class="header-wrapper">
    <div class="header-container">
      <div class="header-title">
        PMA
      </div>
      <div class="header-buttons">
        <button class="header-edit_profile" mat-button>
          <mat-icon class="material-symbols-outlined">
            person
          </mat-icon>
        </button>
        <button class="header-add_board" mat-button>
          <mat-icon class="material-symbols-outlined">
            add_box
          </mat-icon>
        </button>
        <button class="header-language" mat-button>
          <mat-icon class="material-symbols-outlined">
            g_translate
            </mat-icon>
        </button>
        <button class="header-logout" mat-button>
          <mat-icon class="material-symbols-outlined">
            logout
            </mat-icon>
        </button>
      </div>
    </div>
  </div>
</header>
