<mat-card
  class="board-item"
  (click)="navigate()">
  <mat-card-header>
    <mat-card-title>
      {{ boardData.title }}
    </mat-card-title>
  </mat-card-header>

  <mat-card-content class="board-item__animation">
    <ng-lottie [options]="options" [width]="'276'" [height]="'276'"></ng-lottie>
  </mat-card-content>

  <mat-card-actions align="end">
    <button
      mat-mini-fab
      class="board-item__button"
      type="button"
      (click)="delete($event)">
      <mat-icon fontIcon="delete"></mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
