<h3 class="login-form__header">Create board</h3>

<form [formGroup]="boardForm">
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input
      matInput
      placeholder="Enter the board title"
      autocomplete="off"
      name="title"
      formControlName="title" />

    <mat-error *ngIf="boardForm.get('title')?.errors?.['required']">
      Please enter a title
    </mat-error>
  </mat-form-field>

  <div class="login-form__actions">
    <button
      type="button"
      class="login-form__login-button"
      mat-raised-button
      color="primary"
      [disabled]="boardForm.invalid"
      (click)="createBoard()">
      Create board
    </button>
  </div>
</form>
