@use '../../../../variables.scss' as vars;
@use 'sass:color';

:host {
  display: block;
  flex: none;
  width: 100%;
  min-height: 160px;
  max-height: 480px;
  overflow: hidden;
  background-color: color.scale(vars.$light-grey, $alpha: -50%);
  border-radius: 8px;
  backdrop-filter: blur(4px);

  .task {
    &__header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 20px;
    }

    &__description {
      overflow-y: auto;
    }
  }
}
