<div class="container">
  <form [formGroup]="authForm">
    <h2>{{'registration.signUp' | translate}}</h2>
    <mat-form-field appearance="standard">
      <mat-label for="inputName1" >{{'registration.name' | translate}}</mat-label>
      <div [formGroup]="authForm">
        <input matInput formControlName="name" type="text" class="form-control" id="inputName1" [formControl]="controlName" autocomplete="new-password">
      </div>
      <mat-error *ngIf="controlName?.errors?.['required']">{{'errors.enterName' | translate}}</mat-error>
      <mat-error *ngIf="controlName?.errors?.['minlength']">{{'errors.longerThanThree' | translate}}</mat-error>
      <mat-error *ngIf="controlName?.errors?.['maxlength']">{{'errors.noLongerThanTwentyName' | translate}}</mat-error>
      <mat-error *ngIf="controlName?.errors?.['pattern']">{{'errors.onlySmallOrNumbers' | translate}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label for="inputText2">{{'authorization.login' | translate}}</mat-label>
      <div [formGroup]="authForm">
        <input matInput type="text" formControlName="login" class="form-control" id="inputText2" [formControl]="controlLogin" autocomplete="new-password">
      </div>
      <mat-error *ngIf="controlLogin?.errors?.['required']">{{'errors.enterLoginEmail' | translate}}</mat-error>
      <mat-error *ngIf="controlLogin?.errors?.['email']">{{'errors.invalidLoginEmail' | translate}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label for="inputPassword3">{{'authorization.password' | translate}}</mat-label>
      <div [formGroup]="authForm">
        <input matInput formControlName="password" type="password" class="form-control" id="inputPassword3" [formControl]="controlPassword" autocomplete="new-password">
      </div>
      <mat-error *ngIf="controlPassword?.errors?.['required']">{{'errors.enterPassword' | translate}}</mat-error>
      <mat-error *ngIf="controlPassword?.errors?.['minlength']">{{'errors.longerThanEight' | translate}}</mat-error>
      <mat-error *ngIf="controlPassword?.errors?.['minlength']">{{'errors.noLongerThanTwentyPassword' | translate}}</mat-error>
      <mat-error *ngIf="controlPassword?.errors?.['pattern']">{{'errors.usedUpperLowerNumberSpecial' | translate}}</mat-error>
    </mat-form-field>
    <div class="button">
      <button mat-raised-button color="primary" type="submit" [disabled]="authForm.invalid" (click)="onSingUpButton()">{{'registration.signUp' | translate}}</button>
    </div>
    <tr></tr>
    <a routerLink="/login">{{'registration.haveAccount' | translate}}</a>
  </form>
</div>
<mat-spinner *ngIf = "loaderService.isLoading | async"></mat-spinner>
