<div class="container">
  <form [formGroup]="authForm">
    <h2>Sign Up</h2>
    <mat-form-field appearance="standard">
      <mat-label for="inputName1" class="col-sm-12 col-form-label">Name</mat-label>
      <div class="col-sm-12" [formGroup]="authForm">
        <input matInput formControlName="name" type="text" class="form-control" id="inputName1" [formControl]="controlName" autocomplete="new-password">
      </div>
      <p class="fs-6 fw-light" *ngIf="controlName?.errors?.['required']">*please inter a name</p>
      <p class="fs-6 fw-light" *ngIf="controlName?.errors?.['minlength']">*your name should be longer than 3</p>
      <p class="fs-6 fw-light" *ngIf="controlName?.errors?.['maxlength']">*your name should be shorter than 20</p>
      <p class="fs-6 fw-light" *ngIf="controlName?.errors?.['pattern']">*your name should use only small letters or numbers </p>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label for="inputText2" class="col-sm-12 col-form-label">Login</mat-label>
      <div class="col-sm-12" [formGroup]="authForm">
        <input matInput type="text" formControlName="login" class="form-control" id="inputText2" [formControl]="controlLogin" autocomplete="new-password">
      </div>
      <p class="fs-6 fw-light" *ngIf="controlLogin?.errors?.['required']">*please enter a login email</p>
      <p class="fs-6 fw-light" *ngIf="controlLogin?.errors?.['email']">*the login email is invalid</p>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label for="inputPassword3" class="col-sm-12 col-form-label">Password</mat-label>
      <div class="col-sm-12" [formGroup]="authForm">
        <input matInput formControlName="password" type="password" class="form-control" id="inputPassword3" [formControl]="controlPassword" autocomplete="new-password">
      </div>
      <p class="fs-6 fw-light" *ngIf="controlPassword?.errors?.['required']">*please enter a password</p>
      <p class="fs-6 fw-light" *ngIf="controlPassword?.errors?.['minlength']">*your password isn't strong enough: should be longer than 8</p>
      <p class="fs-6 fw-light" *ngIf="controlPassword?.errors?.['pattern']">*your password isn't strong enough: should be used uppercase and lowercase letters, numbers, special character</p>
    </mat-form-field>
    <button mat-raised-button color="blue" type="submit" [disabled]="authForm.invalid" (click)="onSingUpButton()" class="btn btn-primary">Sign Up</button>
    <tr></tr>
    <a routerLink="/login">Already have an account? Log In!</a>
  </form>
</div>
