<h3 class="search-criteria-form__header">Search criteria</h3>

<form
  [formGroup]="tasksForm"
  class="search-criteria-form">
  <mat-form-field appearance="outline">
    <mat-label>Keywords</mat-label>
    <input
      matInput
      placeholder="Enter a keywords"
      autocomplete="off"
      name="keywords"
      formControlName="keywords" />
    <mat-error *ngIf="keywordsControl.errors?.['required']">Enter keywords</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>User</mat-label>
    <mat-select formControlName="owner">
      <mat-option>-None-</mat-option>
      <mat-option
        *ngFor="let user of appUsers"
        [value]="user._id"
        >{{ user.name }}</mat-option
      >
    </mat-select>
    <mat-error *ngIf="ownerControl.errors?.['required']">Select a user</mat-error>
  </mat-form-field>

</form>
