@use '../../../../styles/layout' as layout;

:host {
  @include layout.align-center(24px);

  flex: 1 0 auto;
  width: 100%;
  max-width: 1440px;

  .tasks__container,
  .main__boards {
    @include layout.responsive-grid
  }
}
