<mat-tab-group
  dynamicHeight
  mat-align-tabs="center">

  <mat-tab label="Boards">
    <h2 class="main__header">{{ 'mainPage.mainPageTitle' | translate }}</h2>
    <div class="main__boards">
      <app-board-item
        *ngFor="let board of boardItems"
        [boardData]="board">
      </app-board-item>
    </div>
  </mat-tab>

  <mat-tab label="Tasks">
    <h2 class="main__header">Tasks</h2>
    <app-search-criteria></app-search-criteria>
    <div class="tasks__container">
      <app-task-item *ngFor="let task of taskItems" [taskData]="task"></app-task-item>
    </div>
  </mat-tab>
</mat-tab-group>
