<footer class="footer">
  <div class="footer-wrapper">
    <div class="footer-author-container">
      <div class="footer-author-link-container">
        <h2 class="footer-author-title">
          {{'footer.creators' | translate}}
        </h2>
        <div class="footer-author">
          <a href="https://github.com/grinch-ira" target="_blank" class="footer-author-link">
            <img class="footer-author-git" src="../../../../assets/github.svg" alt="Iryna">
            <span class="footer-name">{{'footer.Ira' | translate}}</span></a>
          <a href="https://github.com/YuliyaShu" target="_blank" class="footer-author-link">
            <img class="footer-author-git" src="../../../../assets/github.svg" alt="Yulia">
            <span class="footer-name">{{'footer.Yulia' | translate}}</span></a>
          <a href="https://github.com/Pas92" target="_blank" class="footer-author-link">
            <img class="footer-author-git" src="../../../../assets/github.svg" alt="Pavel">
            <span class="footer-name">{{'footer.Pasha' | translate}}</span></a>
        </div>
      </div>
      <a href="https://rs.school/angular/" target="_blank" class="rsschool-image">
        <img src="../../../../assets/rs-school.svg" alt="">
      </a>
    </div>
    <div class="project-year">CrazyBlaBlaBla © 2022</div>
  </div>
</footer>
