<div class="welcome-wrapper">
  <div class="welcome-container">
    <div class="container-information">
      <div class="appliation-descrition">
        <div class="description-title">Enjoy your project management</div>
        <div class="description-subtitle">Competent planning is an integral part of our life. Whether it is an apartment
          renovation, a birthday party or a project at work, it is always important to have a clear structure of the
          workflow for a more successful implementation of any event.

          That is why the task manager is an indispensable tool for daily task planning.

          Why do I need a task manager? It will simplify the workflow, make it more transparent, and help plan and
          monitor the implementation of projects from a variety of professional fields.</div>
      </div>
    </div>
    <div class="application-start">
      <div class="planing-image">
        <img class="planing-img" src="../../../../assets/planing.jpg" alt="Planing">
      </div>
      <div class="planning-buttons">
        <button class="start-planing">Start planning!</button>
        <div class="buttons-wrapper">
          <div class="button-title">How does it work?</div>
          <div class="button-subtitle">
            <div class="boards-subtitle">Create boards</div>
            <div class="columns-subtitle">Create columns</div>
            <div class="tasks-subtitle">Create tasks</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="developers-container">
    <div class="developers-container-title">ABOUT DEVELOPERS
    </div>
    <div class="developers-informations">
      <div class="developer-block">
        <div class="developer-image">
          <img class="img-dev" src="../../../../assets/unknow.jpg" alt="developer">
        </div>
        <div class="developer-description">
          <div class="developer-title">Iryna</div>
          <div class="developer-subtitle">I've been learning Front-end for a year. Before that I was far from coding,
            but I am aimed at switching my career. I am sure that I will manage. </div>
        </div>
      </div>
      <div class="developer-block">
        <div class="developer-image">
          <img class="img-dev" src="../../../../assets/unknow.jpg" alt="developer">
        </div>
        <div class="developer-description">
          <div class="developer-title">Yulia</div>
          <div class="developer-subtitle">Hello! I'm Yulia - a Frontend Developer with almost 1 year of practical
            experience. Interested in working with inspirational people, creating new contemporary projects, learning IT
            technologies. Find out more about me on <a href="https://www.linkedin.com/in/yuliya-shulgan-62347a236/"
              class="linkedin-link">LinkedIn</a> </div>
        </div>
      </div>
      <div class="developer-block">
        <div class="developer-image">
          <img class="img-dev" src="../../../../assets/unknow.jpg" alt="developer">
        </div>
        <div class="developer-description">
          <div class="developer-title">Pavel</div>
          <div class="developer-subtitle"></div>
        </div>
      </div>
    </div>
  </div>
</div>
