<div class="welcome-wrapper">
  <div class="welcome-container">
    <div class="container-information">
      <div class="appliation-descrition">
        <div class="description-title">{{'welcomepage.welcomeTitle' | translate}}</div>
        <div class="description-subtitle">{{'welcomepage.welcomeDescription' | translate}}</div>
      </div>
    </div>
    <div class="application-start">
      <div class="planing-image">
        <img class="planing-img" src="../../../../assets/planing.jpg" alt="Planing">
      </div>
      <div class="planning-buttons">
        <button class="start-planing" routerLink="/login">{{'welcomepage.startplanningbutton' | translate}}</button>
        <div class="buttons-wrapper">
          <div class="button-title">{{'welcomepage.buttonsTitle' | translate}}</div>
          <div class="button-subtitle">
            <div class="boards-subtitle">{{'welcomepage.createBoards' | translate}}</div>
            <div class="columns-subtitle">{{'welcomepage.createColumns' | translate}}</div>
            <div class="tasks-subtitle">{{'welcomepage.createTasks' | translate}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="developers-container">
    <div class="developers-container-title">{{'welcomepage.developers.developersTitle' | translate}}
    </div>
    <div class="developers-informations">
      <div class="developer-block">
        <div class="developer-image">
          <img class="img-dev" src="../../../../assets/iryna.jpg" alt="developer">
        </div>
        <div class="developer-description">
          <div class="developer-title">{{'welcomepage.developers.iraDevName' | translate}} team-lead</div>
          <div class="developer-subtitle">{{'welcomepage.developers.iraDevDesc' | translate}} </div>
        </div>
      </div>
      <div class="developer-block">
        <div class="developer-image">
          <img class="img-dev" src="../../../../assets/yulia.jpg" alt="developer">
        </div>
        <div class="developer-description">
          <div class="developer-title">{{'welcomepage.developers.yuliaDevName' | translate}} front-end developer</div>
          <div class="developer-subtitle">{{'welcomepage.developers.yuliaDevDesc' | translate}} <a href="https://www.linkedin.com/in/yuliya-shulgan-62347a236/"
              class="linkedin-link">LinkedIn</a> </div>
        </div>
      </div>
      <div class="developer-block">
        <div class="developer-image">
          <img class="img-dev" src="../../../../assets/unknow.jpg" alt="developer">
        </div>
        <div class="developer-description">
          <div class="developer-title">{{'welcomepage.developers.pavelDevName' | translate}} front-end developer</div>
          <div class="developer-subtitle">{{'welcomepage.developers.pavelDevDesc' | translate}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
