<h2 mat-dialog-title>{{ data.data.title }}</h2>

<div mat-dialog-content>
  <p>{{ data.data.description }}</p>
</div>

<div mat-dialog-actions>
  <button
    class="mat-raised-button mat-primary"
    *ngIf="data.type === 'message'"
    (click)="close('close')">
    Ok
  </button>

  <button
    mat-raised-button
    class="mat-raised-button mat-primary"
    *ngIf="data.type === 'confirm'"
    (click)="close('confirmClosing')">
    Yes
  </button>

  <button
    mat-button
    dialogResult="'cancel'"
    class="mat-raised-button mat-primary"
    *ngIf="data.type === 'confirm'"
    ma
    (click)="close('skipClosing')">
    No
  </button>
</div>
