<mat-toolbar
  color="primary"
  class="column__header"
  [ngClass]="{ 'column__header_with-input': isEditableTitle }">
  <span
    *ngIf="!isEditableTitle"
    focusOrigin="mouse"
    (click)="showInput()"
    >{{ columnData.title }}
  </span>

  <mat-form-field *ngIf="isEditableTitle">
    <button
      *ngIf="!isTitleUpdatingProgress"
      mat-icon-button
      matSuffix
      [disabled]="titleControl.invalid || titleControl.value === columnData.title"
      (click)="updateTitle()">
      <mat-icon>done</mat-icon>
    </button>

    <button
      *ngIf="!isTitleUpdatingProgress"
      mat-icon-button
      matSuffix
      (click)="hideInput()">
      <mat-icon>close</mat-icon>
    </button>

    <mat-spinner
      *ngIf="isTitleUpdatingProgress"
      matSuffix
      color="accent"
      strokeWidth="3"
      diameter="20"
      class="stroke-spinner">
    </mat-spinner>

    <input
      matInput
      autocomplete="false"
      [formControl]="titleControl"
      #titleInput />
  </mat-form-field>

  <span class="spacer"></span>
  <button
    mat-icon-button
    (click)="deleteColumn()">
    <mat-icon>delete</mat-icon>
  </button>
</mat-toolbar>

<div
  class="column__container"
  id="CID_{{ columnData._id }}"
  cdkDropList
  cdkDropListAutoScrollStep="15"
  [cdkDropListData]="tasksData"
  [cdkDropListConnectedTo]="columnsIds"
  (cdkDropListDropped)="drop($event)">
  <app-task
    cdkDrag
    *ngFor="let task of tasksData"
    [taskData]="task"
    [boardId]="boardId"
    [columnId]="columnData._id">
  </app-task>

  <button
    *ngIf="!tasksData.length"
    type="button"
    mat-raised-button
    class="column__button-create"
    color="warn"
    (click)="openCreateTaskForm(true)">
    Create task
  </button>
</div>

<button
  *ngIf="tasksData.length"
  mat-raised-button
  color="primary"
  (click)="openCreateTaskForm(true)">
  Create task
</button>

<app-task-form
  *ngIf="isCreateVisible"
  (modalClose)="closeModal()"
  [boardId]="boardId"
  [columnId]="columnData._id">
</app-task-form>
