@use '../../../../variables.scss' as vars;
@use '../../../../styles/animations' as animations;

:host {
  height: 100%;
  width: 360px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  flex: none;

  border-radius: 8px;

  background-color: scale-color(vars.$light-grey, $alpha: -50%);
  backdrop-filter: blur(4px);

  .column__header {
    height: 32px;
  }

  .column__container {
    flex-grow: 1;
    margin: 8px;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 8px;
  }
}

@include animations.drag-and-drop-animation;
