<mat-toolbar
  color="primary"
  class="column__header">
  <span>{{ columnData.title }}</span>
</mat-toolbar>

<div
  class="column__container"
  id="CID_{{ columnData._id }}"
  cdkDropList
  cdkDropListAutoScrollStep="15"
  [cdkDropListData]="tasksData"
  [cdkDropListConnectedTo]="columnsIds"
  (cdkDropListDropped)="drop($event)">
  <app-task
    cdkDrag
    *ngFor="let task of tasksData"
    [taskData]="task">
  </app-task>
</div>

<button
  mat-raised-button
  color="primary">
  Create task
</button>
