@use '../../../../variables.scss' as vars;
@use '../../../../styles/animations' as animations;
@use 'sass:color';

:host {
  display: flex;
  flex: none;
  flex-direction: column;
  width: 360px;
  height: 100%;
  overflow-y: auto;
  background-color: color.scale(vars.$light-grey, $alpha: -50%);
  border-radius: 8px;

  .column {
    &__header {
      height: 32px;

      &.column {
        &__header_with-input {
          height: 40px;
        }
      }

      .spacer {
        flex: 1 1 auto;
      }

      .stroke-spinner {
        display: inline-block;
        font-size: 20px;
        line-height: 22.5px;
        vertical-align: middle;
      }
    }

    &__container {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      margin: 8px;
      overflow-y: auto;
      row-gap: 8px;

      .column {
        &__button-create {
          display: block;
          width: 100%;
          height: 100%;
          filter: opacity(0.3);
          transition: filter 0.2s ease-out;

          &:hover {
            filter: opacity(0.6);
          }
        }
      }
    }
  }
}

@include animations.drag-and-drop-animation;
