/* You can add global styles to this file, and also import other style files */
@use './variables.scss' as vars;
@use './styles/layout';
@use 'sass:color';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.owner-mark {
  background-color: color.scale(vars.$blue, $alpha: -50%);
}
